- content_for :some_key do
  %script{:src => "/airports.js", :type => "text/javascript"}
  %script
    var icao = "#{params[:icao]}";
  %style{:type => "text/css"}
    \tr.on_time { background-color: #00ff00; }
    \tr.late { background-color: #DB2929; }
    \tr.early { background-color: #4169E1; }

%h3
  #{"Current Time: " + Time.now.getgm.to_s}

%h2
  Arrivals

%table{:border => 1, :cellspacing => 0, :id => "arrivals"}
  %thead
    %tr
      %th
        Ident
      %th
        Type
      %th
        From
      %th
        Scheduled Departure
      %th
        Scheduled Arrival
      %th
        Estimated Arrival
      %th
        Status
      %th
        Flight Status
  %tbody

%h2
  Departures

%table{:border => 1, :cellspacing => 0, :id => "departures"}
  %thead
    %tr
      %th
        Ident
      %th
        Type
      %th
        To
      %th
        Scheduled Departure
      %th
        Scheduled Arrival
      %th
        Estimated Arrival
      %th
        Status
      %th
        Flight Status
  %tbody

