!!!
%html
  %head
    %title flightboard
    %script{:src => "/jquery.js", :type => "text/javascript"}
    %script{:src => "/scripts.js", :type => "text/javascript"}
  %body
    %h1 flightboard
    %p
      =yield

